.go-home {
  position: absolute;
  top: 1%;
  left: 80%;
}

.timer {
  user-select: none;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.value {
  font-size: 40px;
}
.label {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}
.icon-cancel-circle:before {
  content: '\e900';
  color: #930303;
}

#datetime-picker {
  width: 180px;
  height: 20px;
  padding-left: 8px;
}

button {
  width: 80px;
  height: 26px;
  font-family: monospace;
  background-color: rgba(113, 116, 116, 0.632);
  color: black;
}

button:disabled {
  opacity: 0.5;
}

#datetime-picker::placeholder:disabled {
  opacity: 0.5;
}
